
 


  .Col-View {
    display: flex;
}

.Put-Budget {
    flex: 1;
    border: 1px;

    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #6ae4ff , #aff2ff);
    padding-right: 15vw;
    padding-left: 2vw;
}

.doughnut-chart {
    flex: 1;
    background-color: #aff2ff;
    padding-right: 5vw;
}

.bar-chart {
    margin-bottom: 0px;
    margin-right: 5vw;
    margin-left: 5vw;
}

.line-chart {
    margin-bottom: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

body.overlay {
    background: #989898;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.bgpopup, .popup {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.popup {
    background: #313131cc;
}

.popup-content {
    content: center;
    margin: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4bb4c066;
    padding-right: 5vw;
    padding-left: 5vw;
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;
}

.Table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: rgba(185, 255, 255, 0.8);
}

.Table-content {
    background: #fff;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(116, 116, 116, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.Table-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2vh;
}

.Table-content th, .Table-content td {
    padding: 1vw;
    border: 1px solid #ddd;
}

.Table-content th {
    background-color: #4bc0c0;
    color: #fff;
}

.Table-content td {
    background-color: #f9f9f9;
}

.Table-content button {
    background-color: #4bc0c0;
    color: #fff;
    padding: 1vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2vh;
}

.Table-content button:hover {
    background-color: #45a2a2;
}

.Expense-Months {
    justify-content: center; 
    align-items: center;
    display: flex;
    text-align: center;
    background-color: #ffe6e6;
    border: 1px solid #ff3333;
    padding: 1vw;
    margin-bottom: 2vh;
    border-radius: 2vw;
    font-size: 2vh;
    color: #ff3333;
}

.Expense-Months div {
    margin-left: 20vw;
    text-align: center;
    font-weight: bold;
    margin-right: 20vw;
}

.About-Section {
    margin-top: 2vh;
}

.Footer {
    margin-top: 0px;
    text-align: center;
    padding: 2vw;
    background-color: rgb(0, 150, 184);
}

.About-Section {
  text-align: justify;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #6ae4ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.About-Section div {
  font-size: 1rem;
  line-height: 1;
  color: #333;
}

.About-Section strong {
  color: #205142;
  font-weight: bold;
}

.About-Section p {
  margin-bottom: 1rem;
}


.Logo {
    position: relative;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #aff2ff, #6ae4ff);
    animation: fadeInLogo 2s ease-in-out;
}

.Logo h2 {
    z-index: 1;
    margin: 0;
    color: #205142cc;
    text-align: center;
    animation: slideInText 2s ease-in-out;
    font-family: 'YourArtisticFont', Helvetica;
}

@keyframes fadeInLogo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInText {
    from {
        transform: translateY(-2vw);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.insights-section button {
  background-color: #6ae4ff;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 2vh;
}

.insights-section button:hover {
  background-color: #007575;
}