
.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 150, 184);
  padding: 10px;
}

.NavBar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.NavBar li {
  margin-right: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.NavBar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#navbutton {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

  