

  
  
  .auth-form-container {
      
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: top;  
    color: #000000;
  }


.auth-form-container, .login-form{
      display: flex;
      flex-direction: column;
    }
    
/* @media screen and (min-width: 600px) {
  .auth-form-container {
        
        padding: 0;
        border: 1px solid white;
        border-radius: 10px;
        margin: 0;
      }
    }  */
  
  label {
    text-align: left;
    padding: 0.25rem 0;
    color: #000000;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
  }
  
  button {
  
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    margin: 0.5rem 0;
    padding: 10px;
    border-radius: 10px;
    border-color: #000000;
    cursor: pointer;
    color: #000000;
  }
  
  .link-btn {
    border: none;
    background: none;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }

  .register-form
  {
    display: flex;
    flex-direction: column;
  }
  
  

  .Bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Bg-popup {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: #313131cc;
    z-index: 999;
}

.Reg-popup {
    text-align: center;
    background: #4bc0c066;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
